<a href="https://colab.research.google.com/github/Orlando77111/ejercicios_for/blob/main/ejercicios_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSTRUCCION REPETITIVA FOR

In [ ]:
# ejercicio1: mostrar los numeros del 1 al 10 sin usae untrucciones repetitivas

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
# Ejercicio 2: mostrar los numeros del 1 al 10, usando la intruccion while

contador = 1
print(contador)
while contador <10:
  #contador = contador + 1
  contador+=1
  print(contador)

In [ ]:
# ejercicio 3: mostrar los numeros del 1 al 10 utilizando la intruccion for y una lista interable

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(i)

In [ ]:
# ejercicio 4: Mostrar los numeros del 1 al 10 usando la instruccion for y la funcion range

for i in range(1,11):
  print(i)

In [ ]:
# ejercicio 5: mostrar una frace 10 veses usando la intruccion for y una lista

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(f"{i} Sistemas el mejor ")

In [ ]:
# ejercicio 6: mostrar la silaba inicial de los dias de la semana, usando for y una lista con la silaba inicial de los dias de la semana

dias_semana = ["lu","ma","ml","ju","vi","sa","do"]
for i in dias_semana:
  print(i)

In [ ]:
# ejercicio 7: mostrar una lista de distintos tipos de datos, usando for

lista = [1,3.4,9,True, "Nestror", 8, "Guanenta"]
for i in lista:
  print(i)

In [ ]:
# ejercicio 8: ingrese su nombre letra por letra usando for

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra)

In [ ]:
# ejercicio 9: ingrese su nombre y mostrarlo letra a letra usando for y cambiando por * la letra e

nombre = input("Digite su nombre: ")
for letra in nombre:
  if letra == 'e':
    print("*")
  else:
    print(letra)

In [ ]:
# ejercicio 10: ingresar su nombre y mostrarlo en letra mayuscula usando for

nombre = input("Ingrese su nombre: ")
for letra in nombre:
  print(letra.upper())

In [ ]:
# ejercicio 11: imprimir listas de numeros usando for y range

print("Numeros del 0 al 9 ")
for i in range(10):
  print(i)

print("Numeros del 1 al 10")
for i in range(1,11):
  print(i)

print("10 veses la frace")
for i in range(10):
  print("Sistemas la mejor ")

print("10 veses la frase i = ")
for i in range(10):
  print("i =" str(i))

print("10 veses la frase i = ")
for i in range(10):
  print(f"i = {i}")

print("Rando de 7 al 18, incrementando de 4 en cuatro")
for i in range(7,19,4):
  print(i)

print("Convierte rangoen lista a, y la muestra")
a = list(range(1000))
print(a)